
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #111;
  color: white;
}
.parent{
  height: 100vh;
  width:100%;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
}
h3, h4, p, button {
  background-color: white;
  color: black;
}