
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
}
.parent{
  height: 100vh;
  width:100%;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}
.card .top{
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.top img{
  height: 30px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;

}
.top button{
  display: flex;

}
h3, h4, p, button {
  background-color: white;
  color: black;
}